*{
    margin: 10px;
    padding: 0;
}
body{
    background-color: yellow;
} 
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    border: 1px solid black;
    height:100px;
    width: 100px;
    background-color: rgb(24, 241, 24);
    margin: 20px;
    transition: 2s;
}
#box1:hover{
    width: 300px;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}
#box2:hover{
    width: 300px;
    height: 300px;
    transition-timing-function: ease-in;
    transition-duration: 2s;
}
#box3:hover{
    width: 400px;
    transition-timing-function: linear;

}
#box4:hover{
    width: 300px;
    transition-timing-function: ease;
}
#box5:hover{
    width: 300px;
    transition-timing-function: ease-in;
}
#box6:hover{
    width: 300px;
    transition-timing-function: ease-out;
}
#box7:hover{
    width:300px;
    transition-timing-function: ease-in-out;
}
.link{
    font-size:50px;
}